<a href="https://colab.research.google.com/github/Gulwalishah/ML_Test/blob/main/Practice_Board.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## If, else statement

In [ ]:
from __future__ import print_function
x= 0
if x>0:
  print("the number is positive")
elif x==0:
    print("the number neither positive nor negative")
elif x != 2:
      print("the number is an odd")
else:
    print("the number is negative")

the number neither positive nor negative

# Exercise 1: Determine the grade based on the marks obtained.

In [ ]:
marks=65
if marks >= 90:
  grade ="A"
else:
    if marks >= 80:
      grade="B"
    else:
        if marks >=70:
          grade="C"
        else:
            if marks>=60:
              grade="D"
            else:
                if marks<=59:
                  grade="F"
print("Grade", grade)

Grade D

In [ ]:

marks=78
if marks >=90:
 grade="A"
else:
      if marks  >=80:
         grade="B"
      else:
        if marks >=70:
            grade="C"

marks=78
if marks >=90:
 grade="A"
else:
      if marks  >=80:
         grade="B"
      else:
        if marks >=70:
            grade="C"

Grade C
[ ]

        else:
            if marks <=69:
              grade="F"
print("Grade", grade)

Grade C

# **Excercise 2:**

In [ ]:
num=-9
if num >0:
  result="the number is positive"
else:
    if num <0:
               result="the number is negative"
    else:
              result="it is zero"
print("Result:",result)

Result: the number is negative

# **Excercise 3:**

In [ ]:
year=2005
if year % 4==0:
  if year % 100==0:
    if year % 400==0:
      leap_year=True
    else:
        leap_year=False
  else:
    leap_year=True
else:
    leap_year=False
print("Leap Year:", leap_year)

Leap Year: False

# **Ecercise 4:**

In [14]:
x,y=-3,-2
if x> 0:
    if y>0:
           Quadrant="Quadrant I"
    else:
           Quadrant="Quadrant IV"
else:
      if y>0:
              Quadrant="Quadrant II"
      else:
              Quadrant="Quadrant III "
print("Quadrant", Quadrant)

Quadrant Quadrant III

# **Exercise 5:**

In [ ]:
purchase_amount = 1200

if purchase_amount >= 1000:
    discount = 0.2
else:
    if purchase_amount >= 500:
        discount = 0.1
    else:
        discount = 0

total_amount = purchase_amount - (purchase_amount * discount)
print("Total amount after discount:", total_amount)

Total amount after discount: 960.0